
body{
    font-family: helvetica neue Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header,h1{
    margin: 0;
    font-size: 2rem;
}

nav,ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav,ul,li{
    margin: 0 1.5rem;
    
}

nav,ul,li,a:hover{
    background: #575757;
    color: #fff;

}

main{
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}

section{
    margin-bottom: 2rem;
}

.hero,h2{
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

.hero,p{
    font-size: 1.2rem;
    color: #666;
}

footer{
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

ul{
    padding-left: 20px;
    list-style: disc;
}

h2{
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

p{
    font-size: 1rem;
    color:#555
}
